<div class="row">
  <div class="span6">
    <h2><%= t :title %></h2>
    <% if @fee %>
      <div class="alert alert-success alert-block">
        <%= t(:confirm_success).html_safe %>
      </div>
      
      <p><strong>Name: </strong><%= @fee.name %></p>
      <p><strong>Email: </strong><%= @fee.email %></p>
      <p><strong>IBAN: </strong><%= @fee.iban %></p>
      <p><strong>BIC: </strong><%= @fee.bic %></p>
      <p><strong><%= t :bank_account_owner %>: </strong><%= @fee.bank_account_owner %></p>
      <p><strong><%= t :fee %>: </strong><%= number_to_currency @fee.fee %></p>
      <p><strong><%= t :donation %>: </strong><%= number_to_currency @fee.donation %></p>
    <% else %>
      <div class="alert alert-error alert-block">
        <%= t(:confirm_error).html_safe %>
      </div>
    <% end %>
  </div>
</div>
