<div class="row">
  <div class="span6 offset3">
    <h2>fees and donations</h2>
    <table class="table table-striped">
      <thead>
        <tr><th>Name</th><th>Email</th><th>Fee</th><th>Donation</th><th></th></tr>
      </thead>
      <tbody>
        <% @fees.each do |fee| %>
          <% if fee.activated? %>
            <tr>
              <td><%= fee.name %></td>
              <td><%= fee.email %></td>
              <td><%= "#{fee.fee}€" %></td>
              <td><%= "#{fee.donation}€" if fee.donation %></td>
              <td><%= link_to "delete", fee_path(fee), method: :delete, confirm: "Do you really want to delete this fee?", class: "btn btn-danger btn-mini pull-right" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
