<%=render partial:'sepa_xml/xml_export_button'%>
<div class="row">
  <div class="span12">
    <h2><%= t :title %></h2>
    <p class="lead text-success"><%= number_to_currency @fee_sum %> fees | <%= number_to_currency @donation_sum %> donations | <%= number_to_currency @overall %> overall</p>
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th><%= link_to "First name", fees_path(order: 'first_name') %></th>
          <th><%= link_to "Last name", fees_path(order: 'last_name') %></th>
          <th><%= link_to "Email", fees_path(order: 'email') %></th>
          <th><%= link_to "IBAN", fees_path(order: 'iban') %></th>
          <th><%= link_to "BIC", fees_path(order: 'bic') %></th>
          <th><%= link_to "Bank account", fees_path(order: 'bank_account_owner') %></th>
          <th><%= link_to "Fee", fees_path(order: 'fee') %></th>
          <th><%= link_to "Donation", fees_path(order: 'donation') %></th>
          <th><%= link_to "Total", fees_path(order: 'total') %></th>
          <th><th>
        </tr>
      </thead>
      <tbody>
        <% @fees.each do |fee| %>
            <% if fee.confirmed? %>
              <tr>
            <% else %>
              <tr class="error">
            <% end %>
              <td><%= fee.first_name %></td>
              <td><%= fee.last_name %></td>
              <td><%= fee.email %></td>
              <td><%= fee.iban.scan(/.{4}|.+/).join(' ') %></td>
              <td><%= fee.bic %></td>
              <td><%= "#{fee.bank_account_owner}" %></td>
              <td><%= "#{number_to_currency fee.fee}" %></td>
              <td><%= "#{number_to_currency(fee.donation ? fee.donation : 0)}" %></td>
              <td><p class="text-info"><%= "#{ number_to_currency(fee.donation ? fee.fee + fee.donation : fee.fee)}" %></p></td>
              <td>
                <div class="btn-group pull-right">
                  <%= link_to "edit", fees_edit_admin_path(fee), class: "btn btn-mini" %>
                  <%= link_to "delete", fee_path(fee), method: :delete, confirm: "Do you really want to delete this fee?", class: "btn btn-danger btn-mini" %>
                </div>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
