<div class="row">
  <div class="span12">
    <h2><%= t :title %></h2>
    <table class="table table-striped">
      <thead>
        <tr><th>Name</th><th>Email</th><th>IBAN</th><th>BIC</th><th>Fee</th><th>Donation</th><th class="text-info">Total</th><th><th></tr>
      </thead>
      <tbody>
        <% @fees.each do |fee| %>
          <% if fee.confirmed? %>
            <tr>
              <td><%= fee.name %></td>
              <td><%= fee.email %></td>
              <td><%= fee.iban %></td>
              <td><%= fee.bic %></td>
              <td><%= "#{fee.fee}€" %></td>
              <td><%= "#{fee.donation}€" %></td>
              <td><p class="text-info"><%= "#{(fee.fee + fee.donation).round(2)}€" %></p></td>
              <td><%= link_to "delete", fee_path(fee), method: :delete, confirm: "Do you really want to delete this fee?", class: "btn btn-danger btn-mini pull-right" %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
