<div class="row">
  <div class="span6">
    <h2><%= t :title %></h2>
    <p class="lead"><%= t :text %></p>
    <p class="lead"><%= t :text2 %></p>
    <p><span class="label label-important"><%= t :important %></span> <%= t :important_text %></p>
    <p><span class="label label-info">Information</span> <%= t :discount_text %></p>
  </div>
  
  <div class="span4 offset1">
    <%= bootstrap_form_for(@fee, url: fees_new_url, help: :block) do |f| %>
      <%= f.alert_message t(:alert_message) %>
      <%= f.text_field :name, class: "span4" %>
      <%= f.email_field :email, class: "span4" %>
      <%= f.text_field :iban, label: "IBAN", class: "span4" %>
      <%= f.text_field :bic, label: "BIC", class: "span4" %>
      <%= f.text_field :bank_account_owner, label: "#{t(:bank_account_owner)} (#{t :if_different})", class: "span4" %>
      <%= f.text_field :donation, value: number_with_precision(f.object.donation), label: "#{t(:donation)} in € (optional)", class: "span4" %>
      <%= f.submit t(:save), { disable_with: t(:saving), class: "btn btn-primary pull-right" } %>
    <% end %>
  </div>
</div>
