<div class="row">
  <div class="span6 offset3">
    <h2><%= t :title %></h2>
    <p class="lead"><%= t :text %></p>
    <p><span class="label label-important"><%= t :important %></span> <%= t :important_text %></p>
  </div>
  
  <div class="span4 offset4">
    <%= bootstrap_form_for(@fee, url: fees_new_url, help: :block) do |f| %>
      <%= f.alert_message t(:alert_message) %>
      <%= f.text_field :name, class: "span4" %>
      <%= f.email_field :email, class: "span4" %>
      <%= f.select :fee, [[t(:full), 30], [t(:discount), 8]], {}, {class: "span4", label: t(:fee)} %>
      <%= f.text_field :donation, label: "#{t(:donation)} (optional)", class: "span4" %>
      <%= f.submit t(:save), { disable_with: t(:saving), class: "btn btn-primary pull-right" } %>
    <% end %>
  </div>
</div>
