<!DOCTYPE html>
<html>
  <head>
    <title>Netz39 fees and donations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="span6 offset3">
          <% flash.each do |key, message| %>
            <p class="<%= alert_type(key) %> fade in"><button type="button" class="close" data-dismiss="alert">×</button><%= message %></p>
          <% end %>
          
          <h1>Netz39</h1>
        </div>
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
