<!DOCTYPE html>
<html>
<head>
  <title>Netz39 fees and donations</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class"container-fluid">
    <div class="row-fluid">
      <div class="span4 offset4">
        <% flash.each do |key, message| %>
          <p class="<%= alert_type(key) %> fade in"><button type="button" class="close" data-dismiss="alert">×</button><%= message %></p>
        <% end %>
      </div>
    </div>
    <div class="row-fluid">
      <h1 class="span4 offset4">Netz39</h1>
    </div>
    <%= yield %>
  </div>
</body>
</html>
